.register-form {
    width: 380px;
    margin: 50px auto;
    font-size: 15px;
    
}
.register-form > h1{
    margin-bottom: 15px;
}
.register-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 15px; */
    background-color: #272c47;
    padding: 30px;
    border-radius: 10px;
    
}


.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
    background-color: #272c47;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
    background-color: #272c47;
}


.register-form > form > label {
    background-color: inherit;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.btn-submit {
    background-color: #272c47;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background-color: #272c47;
    padding: 5px 15px;
    border-radius: 6px;
}

label > input {
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: #272c47;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    padding: 2px 3px;
    outline: #1a2035 solid 2.5px;
}

label > input:focus {
    outline: #8494ed solid 2.5px;
}